.home {
    width: 100%;
    overflow-x: hidden;
    color: #a5a5a5;
    .detail{
        .video{
			margin: 50px auto;
			width: 560px;
			height: 315px;
        }
        .infor{
            margin-left: 100px;
            margin-right: 200px;
            p{
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .nameline{
                display: flex;
                flex-direction: row;
                .name{
                    font-size: 40px;
                    margin-top: 20px;
                    margin-left: 20px;
                    margin-bottom: 20px;
                }
                .add{
                    width: 120px;
                    height: 40px;
                    margin-top: 22px;
                    border-radius: 5px;
                    background-color: #4CB307;
                    margin-left: 20px;
                }
                .remove{
                    width: 90px;
                    height: 40px;
                    margin-top: 22px;
                    border-radius: 5px;
                    background-color: #ABAEAA;
                    margin-left: 20px;
                }
                button:hover{
                    cursor: pointer;
                }
            }
            .categories{
                display: flex;
                flex-direction: row;
                p{
                    margin-right: 15px;
                }
            }
        }
    }
}