.home {
    width: 100%;
    overflow-x: hidden;
    background-color: #222d38;
    color: #a5a5a5;
    .detail{
        .video{
			margin: 50px auto;
			width: 560px;
			height: 315px;
        }
        .infor{
            margin: 100px 200px;
            p{
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .name{
                font-size: 40px;
                margin-top: 20px;
                margin-bottom: 20px;
				color: #dacb46;
				text-transform: uppercase;
				font-weight: 700;
            }
            .categories{
                display: flex;
                flex-direction: row;
                p{
                    margin-right: 15px;
                }
            }
        }
    }
}