.home {
    width: 100%;
    overflow-x: hidden;
    background-color: #222d38;
    color: #a5a5a5;
    .detail{
        .video{
            margin-left: 100px;
            margin-top: 100px;
        }
        .infor{
            margin-left: 100px;
            margin-right: 200px;
            p{
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .name{
                font-size: 40px;
                margin-top: 20px;
                margin-left: 20px;
                margin-bottom: 20px;
            }
            .categories{
                display: flex;
                flex-direction: row;
                p{
                    margin-right: 15px;
                }
            }
        }
    }
}