.navbar {
  color: white;
  width: 100%;
  height: 70px;
  background-color: var(--black);
  position: sticky;
  top: 0;
  z-index: 1000;
  .container {
    position: relative;
    display: flex;
    align-items: center;
    top: 10px;
    justify-content: space-between;
    .left {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 32px;
      justify-content: center;
      font-weight: bold;
      .home{
        text-decoration: none;
      }
      .logo {
        cursor: pointer;
        color: white;
      }
      .search {
        position: relative;
        .searchInput {
          input {
            position: relative;
            top: -4px;
            width: 320px;
            height: 15px;
            border-radius: 10px;
            border: none;
            padding: 7px 7px;
            outline: none;
            margin-left: 40px;
          }
          .icon {
            position: absolute;
            top: 12px;
            right: 7px;
            color: var(--black);
            cursor: pointer;
          }
        }
        .dataResult {
          color: #000;
          font-size: 14px;
          background-color: white;
          position:absolute;
          margin-left: 45px;
          width: 320px;
          max-height: 100px;
          overflow-x: hidden;
          overflow-y: auto;
          border-radius: 10px;
          .result{
            cursor: pointer;
            padding: 5px;
          }
          .result:hover{
            background-color: lightgrey;
          }
        }
        .dataResult::-webkit-scrollbar {
          display: none;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      .category {
        p {
          cursor: pointer;
          font-weight: bold;
        }
        .catType {
          display: none;
          position: absolute;
          width: 100vw;
          min-height: 7vh;
          background: var(--grey);
          top: 60px;
          left: 0;
          padding: 15px 40px;
          justify-content: space-around;
          align-items: center;
        }
        .clicked {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
          grid-gap: 20px;
        }
      }
      .notification {
        position: relative;
        cursor: pointer;
        margin-left: 40px;
        color: white;
        .badge {
          width: 11px;
          height: 11px;
          font-size: 8px;
          position: absolute;
          background-color: var(--purple);
          border-radius: 50%;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .notificationTable {
          position: absolute;
          width: 23vw;
          height: 30vh;
          padding: 15px;
          background-color: var(--black);
          right: -100px;
          top: 40px;
          -webkit-box-shadow: 1px 1px 5px 0px #000000;
          box-shadow: 1px 1px 5px 0px #000000;
          border-radius: 10px;
          display: none;
          flex-direction: column;
          
          span {
            font-size: 13px;
            margin-bottom: 10px;
          }
        }
        .clicked {
          display: flex;
          color: white;
        }
        p {
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
      .user {
        margin-left: 40px;
        display: flex;
        img {
          height: 30px;
          width: 30px;
          border-radius: 10px;
          object-fit: cover;
        }
        .profile {
          .options {
            display: none;
            background-color: var(--black);
            -webkit-box-shadow: 1px 1px 5px 0px #000000;
            box-shadow: 1px 1px 5px 0px #000000;
            border-radius: 10px;
          }
          span {
            padding: 10px;
            cursor: pointer;
          }
          &:hover {
            .options {
              display: flex;
              flex-direction: column;
              position: absolute;
            }
          }
        }
      }
    }
  }
}
