.category{
    .admin{
        .content{
            h1{
                margin-left: 50px;
                margin-top: 10px;
            }
            .table{
                flex-direction: column;
                width: 600px;
                gap: 10px;
                margin-top: 50px;
                margin-left: 50px;
                border-collapse: collapse;
                .tablehead{
                    .action{
                        width: 50px;
                    }
                    .moviequantity{
                        width: 100px;
                    }
                }
                .tablebody{
                    .row-tb{
                        .icon3{
                            width: 24px;
                            height: 24px;
                            color: #000;
                            cursor: pointer;
                        }
                        .icon2{
                            width: 20px;
                            height: 20px;
                            margin-bottom: 3px;
                            margin-right: 5px;
                            cursor: pointer;
                        }
                    }
                }
                th, td {
                    border: 1px solid #ffffff;
                    text-align: left;
                    padding: 8px;
                    font-size: 14px;
                }
                th {
                    background-color: var(--black);
                    color: white;
                }
                td {
                    background-color: #c4c4c4;
                    color: #000;
                }
            }
            .createbtn{
                width: 200px;
                height: 30px;
                background: var(--purple);
                color: white;
                border: none;
                border-radius: 5px;
                margin-left: 450px;
                cursor: pointer;
            }
        }
    }
}