.list {
    margin-top: 40px;
    width: 100%;
    .title {
        font-weight: bold;
        margin-bottom: 20px;
    }
    .movieList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 15px;
    }
}